<div class="row">
    <!-- <div class="col-lg-2"> -->
        <!-- <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged"> -->
            Editar persona
        <!-- </button> -->
    <!-- </div> -->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <!-- <img src= {{persona.img}} class="img-fluid" id="fotodeperfil"> -->
        <img src="../../../assets/Foto perfil.PNG">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <!-- <h2>{{persona.nombre}}</h2>
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p> -->
        <p id="nombre">{{persona.nombre}}</p>
        <p>En proceso de desarrollo para llegar a ser "Full Stack Web Developer Jr"</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <!-- <p>{{persona.descripcion}}</p> -->
        </span>
    </div>
</div>
